.jumbotron{
    background-color: #F6F9FA;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #F6F9FA;
    margin-bottom: 0px;
    margin-top: 10px
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 2px  5px ; 
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.btn-comentario{
    padding-top: 10px 10px 0 10px;
}

.boton {
     padding-right: 10px;
}
.footer-addres-icon{
    
        padding-right: 10px;
    }